python-dotenv
livekit-agents[codecs]
livekit-plugins-silero
livekit-plugins-noise-cancellation
livekit-plugins-deepgram
livekit-plugins-openai~=0.8.0
livekit-plugins-cartesia~=0.8.0
livekit-plugins-noise-cancellation~=0.2.0
livekit-plugins-silero~=0.8.0
livekit-plugins-turn-detector~=0.1.0
livekit-plugins-sarvam~=1.5.0
livekit-api
fastapi
uvicorn[standard]
livekit-plugins-groq
