@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animate-pulse-fast {
    animation: pulse 1s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  }
}

body {
  margin: 0;
  padding: 0;
  background-color: #FDFCF8;
}
